<!DOCTYPE html>
<html lang="en">
    <head>
    <title> Gigs</title>
</head>
<p> This site contains summarised information about "The wandering foot's" past and upcoming gigs. </p>

<body> 
    <h1> PAST GIGS:</h1>
    <li> Hazelhove market</li>
    <li> Glenpark market</li>
    <li> Victory Field matric dance</li>

    <h1> UPCOMING GIGS: </h1>
    <h2> Hazelhove market (1-5 October):</h2>
    <li> 1st of October: 13h00 - 15h00</li>
    <li> 2nd of October: 12h00 - 15h00</li>
    <li> 3rd of October: 15h00 - 18h00</li>
    <li> 4th of October: 09h00 - 12h00</li>
    <li> 5th of October: 13h00 - 17h00</li>

</body>

<br>
<a class="collapse-item" href="{% url 'songs' %}">Click here to go to the list of songs! </a>
<br>
<br>
<a class="collapse-item" href="{% url 'the_wandering_foot' %}">Click here to go to the band's info site! </a>
</html>