<!DOCTYPE html>
<html lang="en">
    
<head> 
    <title> Songs</title>
</head>
<p> 
    This site contains the songs that "The wandering foot" have been known to play at their gigs. The list of songs
    contains originals written by "The wandering foot" and covers of songs by popular artists.
</p>

<body> 
    <h1> Original Songs: </h1>
    <h2> Indie rock: </h2>
    <li> The wandering foot </li>
    <li> The lonely mountain </li>
    <li> The ballad of the river </li>

    <h2> Classic rock: </h2>
    <li> Hersey </li>
    <li> Destiny </li>
    <li> Cayde six </li>

    <h1> Cover songs </h1>
    <li> Shape of you - Ed Sheeran </li>
    <li> Don't - Ed Sheeran </li>
    <li> I aint worried - One republic </li>
    <li> Countig stars - One republic </li>
</body>

<br>
<a class="collapse-item" href="{% url 'gigs' %}">Click here to go to the list of gigs! </a>
<br>
<br>
<a class="collapse-item" href="{% url 'the_wandering_foot' %}">Click here to go to the band's info site! </a>

</html>