<!DOCTYPE html>
<html lang="en">

<head> 
    <title> The wandering foot</title>
</head>
<p style='font-size: 20px;'> 
    This site is dedicated to a local band from South Africa, Johannesburg. All members are between the ages of 20
    and 30. The band is mostly an Indie rock band. They have written many originals, however at their gigs they perform
    well rehearsed covers of popular songs.
</p>
<body> 
    <h1> Band members: </h1>
    <li> Ethan (Lead guitar)</li>
    <li> Gabi (Lead vocals)</li>
    <li> Jesse (Drums)</li>
    <li> Rael (Bass guitar)</li>
</body>

<br>
<a class="collapse-item" href="{% url 'songs' %}">Click here to go to the list of songs! </a>
<br>
<br> 
<a class="collapse-item" href="{% url 'gigs' %}">Click here to go to the list of gigs! </a>

</html>